/* 
* This is a
* multilined comment
*
*/

@charset "ISO-8859-1";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header-content {
  background: #000000;
  padding: 40px;
  text-align: center;
  font-size: 18px;
  color: #E85D04;
}


/* Style the top navigation bar */
.nav-content {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.nav-content a {
  float: left;
  display: block;
  color: #E85D04;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  bacground:#111111;
}

/* Change color on hover */
.nav-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the footer */
.footer-content {
	text-align: center;
	padding: 20px;
	background: #000000;
	font-size: 13px;
	color: #E85D04;
}


