/*
Author: Valeria Nogueira 
Date: 11 july 2022
Section: Social Project

https://coolors.co/f94144-f3722c-f8961e-fdc9b0-f9c74f-74a94c-43aa8b-4f9290-ffffff-040d10
*/

.HeaderClass {
   text-align: center;
   background: #43AA8B;
   padding: 40px;
   font-size: 18px;
   color: #040D10;
}

body {
  margin: 0;
}


.DivRowClass{
	float: center;
	padding: 50px;
	width: 50%;
}




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.FooterClass {
	text-align: center;
	padding: 20px;
	background: #43AA8B;
	font-size: 13px;
}